//media scree
$media-0: 520px;
$media-1: 500px;

//Mixin
@mixin padding-margin-null {
  margin: 0;
  padding: 0;
}

//Fonts
$font-family: Urbanist ,arial, sans-serif;

// Vars
:root{
  // Colors
  --shadow: #fff;
  --light: #fff;
  --dark: #000;
  --dark-accent: #89001D;
  --accent: #F8586E;
  --light-accent: #FFBFCD;

  //spacings:
  --spacing-normal: 20px;
  --spacing-shorter: 10px;


  //Navbar
  --num-of-links: 3;
}
