//media scree
$media-0: 520px;
$media-1: 500px;

//Mixin
@mixin padding-margin-null {
  margin: 0;
  padding: 0;
}

//Fonts
$font-family: Urbanist ,arial, sans-serif;

// Vars
:root{
  // Colors
  --main-color: #A65F6D; // This color should be eye-catching but not harsh. It can be liberally applied to your layout as its main identity.
  --light-shades: #ECE6D8; // Use this color as the background for your dark-on-light designs, or the text color of an inverted design.
  --light-accent: #E3636E; // Accent colors can be used to bring attention to design elements by contrasting with the rest of the palette
  --dark-shades: #333554; // Another accent color to consider. Not all colors have to be used - sometimes a simple color scheme works best.
  --dark-accent: #C44048; // Use as the text color for dark-on-light designs, or as the background for inverted designs.
  --shadow: #dbdbdb;

  //spacings:
  --spacing-normal: 20px;
  --spacing-shorter: 10px;


  //Navbar
  --num-of-links: 3;
}
