@import "src/styles/conifg";

.all{
  margin: var(--spacing-normal);
  padding: var(--spacing-normal);
  display: grid;
  place-items: center;
  text-align: center;
  grid: {
    template-columns: repeat(2, minmax(250px, 1fr));
    template-rows: auto minmax(200px, 450px);
  }
  gap: var(--spacing-normal);
  transition: 1s;
}

.title{
  display: block;
  grid-column: span 2;
  color: var(--accent2);
}

.overview{
  width: 100%;
  height: 100%;
  padding: var(--spacing-normal);
  display: grid;

  grid: {
    template-columns: repeat(2, minmax(150px, 1fr));
    template-rows: repeat(auto-fill, auto);
  }

  .umbrella{
    grid-column: 2;
    font-size: 25px;
    margin-top: 15px;
    padding-top: var(--spacing-normal);
    i{
      font-size: 30px;
    }
  }

  .bigTep{
    padding-top: 15px;
    font-size: 30px;
  }

  .icon{
    grid-column: span 1;
    margin: 50px 0 0 0;
    padding-bottom: 50px;
    color: var(--light);
    font-size: 125px;
  }

  .description{
    grid-column: span 1;
    display: grid;
    grid: {
      template-columns: repeat(2, 30px minmax(50px, 1fr));
      template-rows: repeat(4, minmax(56px, 1fr));
    }
    align-items: center;

    .head{
      grid-column: span 4;
      grid-row: 1;
    }

    .littleicon{
      grid-row: span 1;
      grid-column: span 1;
      padding: 5px;
      text-align: center;
    }

    :not(h2){
      padding: 5px;
      font-size: 17px;
      text-align: left;
    }
  }
}


.temp, .overview{
  h2{
    font-size: 30px;
  }
}

.temp{
  grid-column: span 1;
  width: 100%;
  height: 100%;
  padding: var(--spacing-normal);
  overflow: hidden;

}

@media (max-width: $media-1) {
  .all{
    margin: var(--spacing-shorter);
    padding: var(--spacing-shorter);
    gap: var(--spacing-shorter);

    grid: {
      template-columns: repeat(2, minmax(250px, 1fr));
      template-rows: auto minmax(200px, 300px);
    }

  }

  .overview{

    max-height: 300px;

    .icon{
      font-size: 85px;
    }
    .umbrella{
      margin-top: 5px;
      i{
        font-size: 20px;
      }
    }

    .bigTep{
      padding-top: 10px;
    }

    .description{

      .head{
        font-size: 25px;
      }
    }
  }

}

@media (max-width: 830px) {
  .all{

    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }

  .overview{
    .bigTep{
      padding-top: unset;
      font-size: 20px;
    }

    .umbrella{
      margin-top: unset;
    }
  }

  .title{
    grid-column: span 1;
  }

}