@import "src/styles/conifg";

.weather-overview-wrapper{
  margin: var(--spacing-normal);
  padding: var(--spacing-normal);
  max-width: 1870px;
}

.weather-overview{
  display: grid;
  margin-top: calc(var(--spacing-normal) * 2);

  grid-template-columns: repeat(3, 30px 80px);
  grid-template-rows: repeat(3, 40px);
  column-gap: 10px;
  align-items: center;

  .weather-description-icon {
    font-size: 80px;
    grid-row: span 2;
    grid-column: span 2;
    position: relative;
    top: calc(var(--spacing-shorter) * -1);
  }

  .wi-umbrella{
    transform: translateX(20px);
  }

  .wi-thermometer{
    grid-row: span 1;
  }
}

.weather-temp{
  margin-top: var(--spacing-normal);
  width: 90%;
}

@media screen and (min-width: 1400px) {
  .weather-overview-wrapper{
    grid-template-columns: repeat(2, 1fr);

    .weather-title{
      grid-column: span 2;
    }

    .weather-temp{
      font-size: 25px;
      padding: 20px;
    }
  }
}

@media screen and (min-width: 800px) {
  .weather-overview{
    column-gap: 20px;
    grid-template-columns: repeat(3, 50px 130px);
    grid-template-rows: repeat(3, 60px);
    font-size: 25px;
  }
}

@media screen and (max-width: 400px){
  .weather-overview-wrapper{
    margin: var(--spacing-shorter);
    padding: var(--spacing-shorter);
  }
  .weather-overview{
    column-gap: 5px;
    grid-template-columns: repeat(3, 20px 70px);
    margin-top: var(--spacing-shorter);

    .weather-description-icon{
      font-size: 60px;
      top: unset;
    }
  }
}