@import "src/styles/conifg";
@import "src/styles/animations.module";

:root{
  --swiper-navigation-color: #89001d;
  --swiper-pagination-color: #89001d;
}

.day.myCard{
  padding: 30px;
  background: var(--light);
}

.weather-swiper {
  width: 100%;
}

.weather-day-slide{
  width: 80px;
}

.placeHolder{
  animation: blink 2s infinite;
}

.placeHolderWrapper{
  overflow: hidden !important;
}


.temperature{
  display: grid;
  grid: {
    template-columns: repeat(2, 1fr);
    template-rows: repeat(2, auto);
  }

  :nth-child(3) {
    padding-top: 5px;
  }
}

.wi-thermometer{
  grid-row: 1 / span 2;
}




@media (max-width: $media-0) {

  .temperature{
    span{
      font-size: 15px;
    }
  }

  .leftSlider, .rightSlider {
    padding: 5px;
    top: 30%;
  }
}

@media (max-width: $media-1) {
  .temperature{
    span{
      font-size: 12px;
    }
    .wi-thermometer{
      font-size: 50px !important;
    }
  }

}
