@import "src/styles/conifg";
@import "src/styles/animations.module";


.day.card{
  padding: 30px;
  background: var(--light-shades);
}

.leftSlider, .rightSlider{
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  margin-top: -22px;
  padding: 20px;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  color: #555555;
  transform: translateY(-50%);
}

.rightSlider{
  right: 0;
}

.leftSlider:hover, .rightSlider:hover{
  color: white;
  background-color: rgba(0,0,0,0.8);
}

.placeHolder{
  animation: blink 2s infinite;
}

.placeHolderWrapper{
  overflow: hidden !important;
}


.temperature{
  display: grid;
  grid: {
    template-columns: repeat(2, 1fr);
    template-rows: repeat(2, auto);
  }

  :nth-child(3) {
    padding-top: 5px;
  }
}

.wi-thermometer{
  grid-row: 1 / span 2;
}




@media (max-width: $media-0) {

  .temperature{
    span{
      font-size: 15px;
    }
  }

  .leftSlider, .rightSlider {
    padding: 5px;
    top: 30%;
  }
}

@media (max-width: $media-1) {
  .temperature{
    span{
      font-size: 12px;
    }
    .wi-thermometer{
      font-size: 50px !important;
    }
  }

}
