// Imports
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import "styles/weather-icons.min.css";
@import "styles/conifg.scss";
@import "src/components/weather/weather.module";

::-webkit-scrollbar {
  width: $scrollbar;
  height: $scrollbar;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  height: $scrollbar;
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  width: $scrollbar;
  height: $scrollbar;
  background: #555;
}


  html {
  min-height: 100vh;
  background-color: var(--light-shades);
  color: var(--dark-shades);
}

* {
  @include padding-margin-null;
  box-sizing:border-box;
  font:{
    family: $font-family;
  }
}

.stop{
  overflow: hidden;
  height: 100%;
}

h1{
  font: {
    family: $font-family;
    size: 40px;
  }



  text-align: center;
}

.card{
  background: {
    color: white;
  }

  border: {
    radius: 5px;
  }

  color: $second-font-color;

  display: grid;
  place-items: center;
  text-align: center;
  transition: 0.5s;

  box-shadow: $main-color 5px 5px 10px;
}

#overviewFiveDays{
  color: $second-font-color;
  overflow-x: auto;
  display: flex;
  padding: 20px;
  gap: 20px;


  .card{
    min-width: 250px;
    height: 400px;
  }
  .wi {
    color: $weather-color;
    font-size: 4em;
  }

}

#title{
  @include padding-margin-null;
  color: $font-color;
  padding: 10px;

  background: {
    color: $main-color;
  }
}


@media (max-width: $media-0) {
  #overviewFiveDays{
    .card{
      min-width: 225px;
      height: 300px;
    }
  }
}

@media (max-width: $media-1) {
  $important-text-size: 20px;

  h1 {
    font-size: $important-text-size;
  }

  #overviewFiveDays{

    .card{
      min-width: 175px;
      height: 250px;
    }

    padding: 5px;
    gap: 5px;

    h2{
      font-size: $important-text-size;
    }

    h3, .temperature{
      font-size: 15px;
    }

    .wi:not(.wi-thermometer){
      font-size:  $important-text-size * 2 !important;
    }
  }
}








